/* @import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap'); */
/* Got above from: https://fonts.google.com/selection/embed */

/* above is the font checker to see if font actually is correct below is what I think id like but it looks subtle */
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); */


/* Putting some tO DO Notes here
* make page hover effects more obvious to make better usability. (when hoving over images have something happen, when hovering over the navigation make it do soemthing
*Make weather so that it stays in the left columsn [[only remove this after ALL the cards in index page are taken care of 
*/

:root{
    --elsa: #EEFFDB;
    --cinderella: #B8D4E3;
    --aurora: #F194B4;
    --moana: #AD343E;
    --mulan:#421820;
    --who-knows:#283044;
}

::selection{
    background-color: var(--cinderella);
    color:var(--moana)
}

body{
    background-color: var(--aurora);
    font-family: "playwrite" ;
}

/* _____________[header stuff]______________________ */
header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--aurora);
    padding: .4rem 1rem;
    text-align: center;

}

        /* Logo Stuff */

#logo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#logo img, footer img{
    border-radius: 10px;
    margin: 2.4rem;
}

#logo{
    margin:0;
    font-size:1rem;
}
/* ____________[Navigation stuff]________________ */
nav{
    background-color: var(--elsa);
    color:var(--moana);
    grid-column: span; 
    text-align: center;
}
nav ul{
    display:none;
}

/* ____[NAV NOTE{ this gets rid of dots in the navigation bar}]____ */
nav ul li{
    list-style: none;  
    
}
nav ul li a{
    display:block;
    color:var(--moana);
    padding: 1rem;
    
}
nav ul li a:hover{
    color:var(--elsa);
    background-color: var(--moana);
    font-weight: bold;  
}

/*_____________________[Hamburger/Mobile Navigation button]__________________ */
#hamburger-button{
    background-color:var(--cinderella);
    padding:.5rem;
}
#hamburger-button::before{ 
    content: "☰";   

}
/*_____________________[nav when it's closed]____________________ */
#hamburger-button.open::before{
    content: 'x';
}

/* ____________________[nav when its opens]_______________________*/
nav ul.open{
    display:flex;
    flex-direction:column;
    justify-content: space-around;

}
nav ul.open li{
    /* border-style:double; */
    border: double .1rem var(--mulan);
}

 /*_____________________Dark Mode Button_______________________ */
#dark-mode{
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#dark-mode::before{
    content: "🌘";
    background-color:var(--elsa);
    color:var(--mulan)
}

#dark-mode.dark::before{
    content: "☀️"; 
}
/*_______________________________________________________ Index Page_________________________________________________________ */
.home-main, .order-main{
    background-color: var(--elsa);
    /* margin: 3rem;
    padding:20px; */
}
/* ________[HERO IMAGE:]________ */
.hero{
    display:flex;
    justify-content:center;
    align-items: center;
    grid-column: 1/4;
    /* margin: 20px; */
    /* text-align: center; */
    position: relative;
    z-index: 1 ;
}
.hero img{
    justify-content: center;
    padding:.3rem;
}
.hero-label{
    position:relative;
    justify-content: left;
    top: 2rem;
    left: 1rem;
    background-color:var(--aurora);
    padding:1rem;
    box-shadow: 0 0 1rem var(--cinderella);
    opacity: .75;
}
/*_____________ [index card parts]____________ */
.home-product section{
    /* TO DO: Does border-color actually work? I'm pretty sure mulan is being used in a different class */
    max-width: fit-content;
    border-color: var(--mulan);
    border-style: solid; 
    border-width: 3.8px; 
    border-radius: 5rem; 
}

.home-product{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
    color: var(--mulan);
}

.home-product img{
    border-radius: 8rem; 
    box-shadow:  0 5px 8px 5px var(--moana);
    /* Change to 8rem if you want images to be circles*/
}

/* TO DO: Make weather so that it stays in the left columsn [[only remove this after ALL the cards in index page are taken care of   */
.weater{
    grid-column: 1/2;
}


/* _________________________________________________ORDER.HTML____________________________________ */
    .order-main{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
    .order{
        display: grid;    
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }
    
    .join > div{
      margin: 1rem;
      padding: 1rem;
      border: 1px black solid;
      border-radius: 5px;  
      width: 90%;
      min-width: 400px;
    }

    label.myinput{
      display:block;
      padding-top: 1rem;
    }

    label.myinput input, label.myinput textarea{
      display:block;
      font-size: 1.2rem;
      padding: .5rem;
      width: 20rem;
      max-width: 100%;
    }

    label.myradio{
      display: block;
      margin-right: .2rem;
      font-size: 1.3rem;  
      padding-top: .5rem;
    }

    label.myradio input{
      margin-right: 1rem;
    }

    .mysubmit{
      background-color: var(--cinderella);
      color: var(--who-knows);
      margin: 1rem 0 0 0;
      padding: .5rem;
      font-size: 1.5rem;
    }

    label.myinput input:required{
      border-color: var(--moana);
    }

    input:valid{
      background-color: var(--elsa);
      border-bottom-color: var(--cinderella);
      box-shadow: 10px 10px 10px var(--cinderella) ;
    }
    input:invalid{
        border-bottom-color:var(--moana);
      box-shadow: 10px 10px 10px var(--moana) ;
    }
    .order-confirm{
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
    }

    /* footer Note: { Maybe make footer similar to his pagehttps://www.slc.gov/ **IF YOU GOT TIME */
footer{
    background-color: var(--aurora);
    border-style:double;
    border-color: var(--mulan);
    text-align: center;
    /* For border stuff see:
    https://www.w3schools.com/css/css_border.asp#:~:text=The%20CSS%20border%20properties%20allow,have%20a%20red%20bottom%20border.
     */  
}
footer a{
    color:var(--who-knows)
}
/*_______[when you hover over the link text [email]]____________ */
footer a:hover{
    color:var(--elsa);
    background-color:var(--who-knows);
}
/* ________[The copy right symbol at the very bottom of the page]*/
.copyright{
    text-align: center;
    color:var(--mulan)
}
.copyright a:hover{
    color: var(--who-knows);
    background-color: var(--cinderella);

}