@media screen and (min-width:900px){
    :root{
        --elsa: #EEFFDB;
        --cinderella: #B8D4E3;
        --aurora: #F194B4;
        --moana: #AD343E;
        --mulan:#421820;
        --who-knows:#283044;
    }

    /* _____________________________________________________________________NAVIGATION ______________________________________________________*/
    /* nav{
        padding: 8px 5px .3px 5px;
        grid-column:span;
    } 
   
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }*/
    #hamburger-button{
        display: none
    }

    /* ________________________________________________________________INDEX PAGE___________________________________________________ */
    .order-main, .products-main, .about-main{
        /* display: grid; */
        margin: 5rem;
        padding:5rem;
    }

    .hero img{
        padding:.3rem;
    }

    #forecast{
        display: flex;
        justify-content: space-around;
    }

    .home-product{
        justify-content: space-around;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    
    /* __________________________________________________________________________Footer Stuff _________________________________________________*/
    footer{
        flex-direction: column;
        display:grid;
        text-align: center;
        background-color: var(--aurora);
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
    footer img{
        float: left;
        justify-content: center;
    }

    .order-main{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }

}

