@media screen and (min-width:550px){
    
    /* _____________________________________________________________________NAVIGATION ______________________________________________________*/

    
    nav{
        padding: 8px 5px .3px 5px;
        grid-column:span;
        box-shadow:  0 5px 8px 5px var(--moana);
        top:0;
        position: sticky;
        z-index: 1000;
        font-size: 1rem; 
    }
   
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #hamburger-button{
        display: none
    }
    
    footer{
        grid-column:span;
        max-width:100%
        /* display: flex;
        justify-content: center; */
        /* flex-direction: column; */
    }
    

    /*____________________________________________________________ INDEX home-main_________________________________________________ */
            /* Logo Stuff */
    #logo{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin:0;
        font-size:1rem;
    }
    
    /* .home-main was here */
     .order-main{
        flex-direction: column;
        background-color: var(--elsa);
        border: 10px var(--moana);
        margin: 4rem;
        padding:4rem;
    }

    /* Hero label button " */   
    #hero-label{
        position:relative;
        top: 1.5rem;
        left: 1rem;
        background-color:var(--aurora);
        padding:1rem;
        box-shadow: 0 0 1rem ;
        opacity: .75;
    }

    /* TO DO: Make weather so that it stays in the left columsn [[only remove this comment after ALL the cards in index page are taken care of   */
    .weather{
        display:grid;
        grid-column: 1/2;
    }

}