

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* use this for help with css grid stuff: https://www.youtube.com/watch?v=uuOXPWCh-6o */
* {
    font-family: 'Roboto';
    box-sizing: border-box;
    --background-color: #32343e; 
    --primary-color:white;;
    --grey-blue:#404c54;
    --blue-enough:#446b6a;
    --almost-teal:#478d73;
    --sea-green:#5ba95d;
    
}
                             /* Stuff that applies everywhere */
::selection {
    color: var(--primary-color);
    background-color: var(--background-color);
}
    
                                /* Header */
header{
    background-color:var(--background-color);
    display:grid;
    grid-column:2/4 ;
    text-align:center;
    
}
                                    /* ALL IMAGES HERE UNTIL I FIGURE OUT BUG            */
header img{                /*This is supposed to work for the logo image at the TOP only*/
    display:grid;
    grid-column: 1/4;
    border-radius:100px;  /* this changes the shape of the image*/
    padding: 15px;       /*  gives spacing but shortens image */
    width:175px;        /*changes width of image             */
    
}

.pocatello_img{
    width:100%;
}

.logo_img{

    padding: 15px;         /*gives spacing but shortens image */
    width:300px;          /*changes width of image   */      
}

footer img{                     /*This is supposed to work with the logo and any other images in the footer ONLY*/
    float:left;                /*tells image to go to the left of the page   */
    border-radius:100px;      /*this changes the shape of the image   */
    padding: 15px;           /* gives spacing but shortens image  */
    width:150px;            /*changes width of image */
}
                                    /* KEEP IMG ABOVE HERE UNTIL BUG IS RESOLVED */

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* I set it to 2fr 1fr to see if it would span 2 columns and one more.
     I tried: 
     1fr 1fr 1fr 1fr 
     
     but it just stayed the same */
    
    background-color: var(--primary-color);
    max-width: 800px; 
    
    margin: 75px auto; 
      
    /* TO DO/ to do */
    /* Chatgbt help to display grid */
    /* Define your grid styles */      
}

    /* Style for grid items */
.grid-item {
    /* Add some padding to see grid lines clearly */
    padding: 20px;
}


main ul{
    list-style-type: none;   
}

                                        /* Navigation */
nav{
    background-color: var(--background-color);
    color: var(--primary-color);
    grid-column:span;
    text-align: center;
}

#menu-button{
    background-color:var(--background-color);
    font-size: 2rem;
    padding:.5rem;
}

#menu-button::before{ 
    /* supposed to use "&equiv;" in html to get the proper hamburger sign, but can't figure out how to utilize it */
    content: "☰";
}

#menu-button.open::before{
    content: 'x';
}

                                    /*nav when it's closed  */
nav ul{ 
    list-style:none;
    text-align: center;
    background-color: var(--sea-green);
    padding-inline-start: 0px; /*what does this do?*/
    display:none; 
    font-size:20px;
}

nav ul.open{
    display:flex;
    flex-direction:column;
    justify-content: space-around;

}

nav ul li{
    width:100%;
}

nav ul li a{
    display:block;
    text-decoration:none;
    color:white;
    padding: 1rem;
}

nav a{
    color: var(--primary-color);
    text-align: center;
    font-size: large;
    
}
nav ul li a:hover{
    color:var(--grey-blue);
    background-color: var(--sea-green);
    font-weight: bold;  /* makes the text appear thicker/bolded when hovered */
    
}
nav li{
    list-style-type: none; /*this makes the dots besides the link disapear */
}

                    /* Stuff After Navigator [Stuff within body] */
body {
    font-size:20px;
    color:var(--primary-color);
    background-color:var(--background-color);
}
h1{
    color:var(--background-color);
}
                                /* Section (all the cards on the page) */
section {
    font-size: 25px;
    border-style: solid;
    border-width: 3.8px; 
    border-radius: .4rem; 
    /* width: 98%; --> this made the cards stack besides each other */
    padding: 35px;
    margin: 1rem;  
}

section a:hover{
    color:var(--primary-color); 
}
                                /* MAIN */
.discover-images img{
    border: 5px solid var(--almost-teal);
    transition: opacity 2s;


} 

                                    /*  */
header{
    text-align: center;
    color: #000000;
}

#cards{
    display: grid;
    color: #000000;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

/*#cards section{
     max-width: fit-content;
    margin: .6rem;
    padding: 35px;
    border-style: solid; 
    border-width: 3.8px; 
    border-radius: 5rem;  
}*/

footer{
    font-size: 15px;
    text-align: center;
}

                /* INSERT ANY CODE FOR the business page (directory.html) */
.business_main{
   /* background-color: #478d73;   this was to see if main was connectign*/
   margin: auto;
    
}

.business_cards{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
       
#business_cards section {

    border-style: solid;
    border-width: 3px;
    border-radius: 5rem;
    padding: 20px; 
    margin: 10p
}

                     /* /* START OF FORM CSS    */

.join{

    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
 }



.join > div{
    margin: 5rem;
    padding: 1rem;
    border: 1px black solid;
    border-radius: 5px;  
    width: 90%;
    min-width: 400px;}



label.myinput{
    display:block;
    padding-top: 1rem;}

label.myinput input, label.myinput textarea{
    display:block;
    font-size: 1.2rem;
    padding: .5rem;
    width: 20rem;
    max-width: 20rem;}

label.myradio{
    display: block;
    margin-right: .2rem;
    font-size: 1.3rem;  
    padding-top: .5rem; }

label.myradio input{
  margin-right: 1rem;}

.mysubmit{
    background-color: var(--blue-enough);
    color: white;
    margin: 1rem 0 0 0;
    padding: .5rem;
    font-size: 1.5rem;
    }

    label.myinput input:required{
  border-color: #922;
  }

    input:valid{
  background-color: rgb(200, 255, 200);
  }

    input:invalid{
  background-color: rgb(255, 200, 200);
  }

    .join-confirm{
  display: grid;
  grid-template-columns: 1fr 1fr;
    text-align: center;
    }

    #thankyou-main h2{
  text-align: center;
  margin-block-start: 0;
    margin-block-end: 0;
    padding: 1rem 0; }

                /* END FOR BUSINESS PAGE (directory.html) */

#cards section{
    max-width: fit-content;
    margin: .6rem;
    padding: 35px;
    border-style: solid; 
    border-width: 3.8px; 
    border-radius: 5rem; 
}
                            /* Google Maps  */
.google-maps{
    position:relative;  
    /* padding-bottom: 50px; */
    padding:1rem;
    width: 100%;
}
                                        /* Footer */
footer{
    background-color:var(--background-color);
    padding: 45px;
    color: var(--primary-color);
    text-align: center;
    
}
footer li{
    list-style:none;
}
footer a{
    color:var(--sea-green);
}
footer a:hover{
    color:var(--almost-teal)
}