@media screen and (min-width: 800px){
    
    /* all */
    nav{
        padding: 8px 5px .3px 5px;
        grid-column:span;
    }

    nav ul.open{
        flex-direction:row;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    main{
        display:grid;
        grid-template-columns: 3fr 3fr 3fr;
    }
    #cards{
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding:4px;
    }
     /* TO DO/to do: fix this */
    #menu-button{
        display: none;
    }

    /* _______________________________________________Indext page only___________________________________________ */
    #hero_label::after{
        content: "large";
    }
    /* _______________________________________________________Discover page___________________________________ */
    .discover-main img{
        width: 600px;
    }

   
} 

