
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@media screen and (min-width:600px) {  
    
* {
    font-family: 'tektur','san-serif';
    box-sizing: border-box;
}

    
header{

    display:grid;
    grid-column:2/4 ;
}

header img{
    border-radius:100px;  /* this changes the shape of the image */
    padding: 15px; /*  gives spacing but shortens image */
    width:100px; /*changes width of image*/
}


.cayleigh img{
    float:left;
   
}

main {
    max-width: 800px; 
    margin: 75px auto;
    text-align: left;
    display:grid;
    grid-template-columns: 2fr;
} 

main ul{
    list-style-type: none; 
}


nav{

    grid-column:span;
    text-align: center;
}


#menu-button{
    font-size: 2rem;
    padding:.5rem;
}

#menu-button::before{ 
    /* supposed to use "&equiv;" in html to get the proper hamburger sign, but can't figure out how to utilize it */
    content: "☰";
}

#menu-button.open::before{
    content: 'x';
}

/*nav when it's closed  */
nav ul{ 
    list-style:none; /*what does this do?*/
    text-align: center;
    padding-inline-start: 0px; /*what does this do?*/
    display:none; 
}

nav ul.open{
    display:flex;
    flex-direction:column;
    justify-content: space-around;

}

nav ul li{
    width:100%;
}

nav ul li a{
    display:block;
    text-decoration:none;
    padding: 1rem;
}

nav a{
    text-align: center;
    
}

nav ul li a:hover{


    font-weight: bold;  /* makes the text appear thicker/bolded when hovered */
    /* #f028f0 */
}

nav li{
    list-style-type: none; /*this makes the dots besides the link disapear */
}

.card {
    border-style: solid; /*shows that we want a border with this style */
    border-width: 3.8px; /* width of the border*/
    border-radius: .4rem; /*seems to control the curve of the border*/
    /* width: 100%;  this made the cards stack besides each other*/
    padding: 35px;
    margin: 1rem;  /* this gave the cards spacing between each other */   
}


#hero_label::after{
    content: "medium";
}


footer{
   
    padding: 45px;
    text-align: center;
    
}

}