@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Handlee&family=Nanum+Myeongjo&family=Playpen+Sans:wght@300&family=Silkscreen&family=Tektur&display=swap');


* {
    font-family: 'tektur','san-serif';
    box-sizing: border-box;
}
:root{
    --pink: #99005C;
    --floral-white: floralwhite;
    --text-color: black;
    --background-color:#8B008B;
    --main-color: white;

}

                                                    /* Fancy extra stuff */
::selection {
    color: var(--floral-white);
    background-color: var(--pink);
    /* var(--background-color); */
}
 /*_______________________________________________________________________________________________  */
header{
    background-color: var(--floral-white);
    display:grid;
    grid-column:2/4 ;
}

                                                /* IMAGES HERE */
.cayleigh img{
    float:left;
}
header img{
    border-radius:100px;  /* this changes the shape of the image */
    padding: 15px; /*  gives spacing but shortens image */
    width:100px; /*changes width of image*/
}
.temple img{
    width:100%;
}
.temple{
    /* text-align: center; */
    position: relative;
}
.temple_label{
    position:absolute;
    top: 35px;
    left: 35px;
    background-color:var(--pink);
    padding:1rem;
    box-shadow: 0 0 1rem ;
    opacity: .75;

}
/* ____________________________________________________________________________________________ */

main {
    background-color: var(--floral-white);
    max-width: 800px; /*sets maximum size not sure what of though*/
    margin: 75px auto; /* controls how big the space between main, header and footter */
    text-align: left;
    display:grid;
    grid-template-columns: 2fr;
} 

main ul{
    list-style-type: none; 
}



    /*________________________________________________________ Menu button____________________________*/
#menu-button{
    background-color:var(--background-color);
    font-size: 2rem;
    padding:.5rem;
}

#menu-button::before{ 
    /* supposed to use "&equiv;" in html to get the proper hamburger sign, but can't figure out how to utilize it */
    content: "☰";
}

#menu-button.open::before{
    content: 'x';
}
/* ____________________________________________Navigation________________________________________________ */
nav{
    background-color: var(--background-color);
    color: var(--floral-white);
    grid-column:span;
    text-align: center;
}

nav ul{ 
    list-style:none; 
    text-align: center;
    background-color: var(--background-color);
    padding-inline-start: 0px; /*what does this do?*/
    display:none; 
}

nav ul.open{
    display:flex;
    flex-direction:column;
    justify-content: space-around;

}

nav ul li{
    width:100%;
}

nav ul li a{
    display:block;
    text-decoration:none;
    color:var(--main-color);
    padding: 1rem;
}

nav a{
    color: var(--floral-white);
    text-align: center;
    
}

nav ul li a:hover{
    color: var(--background-color);
    /* background-color: var(--main-color); */
    font-weight: bold;  /* makes the text appear thicker/bolded when hovered */
    /* #f028f0 */
}

nav li{
    list-style-type: none; /*this makes the dots besides the link disapear */
}


/* ________________________________________Stuff in body________________________________________________________ */
body {
    color:var(--text-color);
    background-color:var(--floral-white);
}



/* ________________________________________________Cards stuff_______________________________ */
.card {
    border-style: solid; /*shows that we want a border with this style */
    border-width: 3.8px; /* width of the border*/
    border-radius: .4rem; /*seems to control the curve of the border*/
    /* width: 100%;  this made the cards stack besides each other*/
    padding: 35px;
    margin: 1rem;  /* this gave the cards spacing between each other */   
}

.card a:hover{
    color: var(--floral-white); 
    background: var(--background-color);

}
.card a:link{
    color:var(--text-color);
}
/* ___________________________________________________End of Cards________________________________________________________________ */

.google-maps{
    position: relative; 
    width:100%;
    height:500px;
}   

/* ___________________________________________________________footer_____________________________________________________ */

footer{
    background-color: var(--background-color);
    padding: 45px;
    color: var(--floral-white);
    text-align: center;
}
