@media screen and (min-width: 800px){
    
    nav{
        padding: 8px 5px .3px 5px;
        grid-column:span;
    }
    nav a:hover{
        color:#f028f0;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #cards{
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding:4px;
    }


}